table.navtab {
border-collapse: inherit;
border-spacing: 1px 1px;
background: black;
}

table.navtab td {
padding:7px;
}

a:link {
color : #191970;
font-weight : normal;
text-decoration : none;
}
a:visited {
color : #191970;
font-weight : bold;
font-weight : normal;
text-decoration : none;
}
a:active {
color : #000000;
font-weight : bold;
font-weight : normal;
text-decoration : none;
}
a:hover {
color : red;
font-weight : bold;
font-weight : normal;
text-decoration : none;
}
a.mainnav:link {
color : #ffffe8;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
font-weight : normal;
text-decoration : none;
}
a.mainnav:visited {
color : #ffffe8;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
font-weight : normal;
text-decoration : none;
}
a.mainnav:active {
color : brown;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
font-weight : normal;
text-decoration : none;
}
a.mainnav:hover {
color : lightblue;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
font-weight : normal;
text-decoration : none;
}
a.rightpanel:link {
color : #8b0000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : normal;
font-size : 10pt;
}
a.rightpanel:visited {
color : #8b0000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : normal;
font-size : 10pt;
}
a.rightpanel:active {
color : #8b0000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : normal;
font-size : 10pt;
}
a.rightpanel:hover {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : normal;
font-size : 10pt;
}
a.nilink {
color : #ffffff;
font-weight : bold;
text-decoration : none;
}
a.nilink:visited {
color : #ffffff;
font-weight : bold;
text-decoration : none;
}
a.nilink:active {
color : #ffffff;
font-weight : bold;
text-decoration : none;
}
a.nilink:hover {
color : #ffffff;
font-weight : bold;
text-decoration : none;
}
td {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
}
div {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 10pt;
}
.body {
font-family : arial, helvetica, verdana, sans-serif;
font-size : 10pt;
}
.headline {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 14pt;
}
.largeheadline {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 20pt;
}
.mediumheadline {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 12pt;
}
.bodyheadline {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 10pt;
}
.smallheadline {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 8pt;
}
.bodytext {
font-family : arial, helvetica, verdana, sans-serif;
font-size : 10pt;
}
.bodytext-bold {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 10pt;
}
.source {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 8pt;
}
.pubtime {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 8pt;
}
.datelist {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 10pt;
}
.caption {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
}
.intro {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
}
.crosshead {
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 9pt;
}
.byline {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
}
.mainnav-heading {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-size : 9pt;
font-weight : bold;
}
.rightpanel-heading {
color : #ffffff;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 9pt;
}
.rightpanel-title {
color : #000000;
font-family : verdana, arial, helvetica, sans-serif;
font-weight : bold;
font-size : 9pt;
}
.rightpanel-text {
color : #000000;
font-family : verdana, arial, helvetica, sans-serif;
font-size : 8pt;
}
.rightpanel-form {
color : #000000;
font-family : arial, helvetica, sans-serif;
font-size : 8pt;
}
.pageheading {
color : #800000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 14pt;
text-transform : uppercase;
}
.subheading-title {
color : white;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 10pt;
}
.white11 {
color : black;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : normal;
font-size : 9pt;
}
.yellow12 {
color : black;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 9pt;
}
.subheading {
color : #000000;
font-family : arial, helvetica, verdana, sans-serif;
font-weight : bold;
font-size : 10pt;
text-transform : uppercase;
}
.current-date {
color : white;
font-family : verdana, arial, helvetica, sans-serif;
font-weight : bold;
font-size : 8pt;
}
td.mainnav-heading {
background-color : #bb7700;
}
td.mainnav {
background-color : #ff9900;
border:1px solid black;
}
td.hoveringnav {
	background-color:#fa3;
}
td.mainnav-border {
background-color : black;
}
td.rightpanel-heading {
background-color : #003995;
}
td.rightpanel {
background-color : whitesmoke;
}
td.rightpanel-border {
background-color : #000000;
}
td.rightpanel-news {
background-color : whitesmoke;
}
td.divide {
background-color : #ffcc99;
}
td.highlightbox {
background-color : #f8ecd6;
border : 0.05em solid black;
}
td.thinborder {
background-color : #003995;
border : 0.05em solid black;
}
td.smokeyborder {
background-color : whitesmoke;
border : 0.05em solid black;
}
td.captioncell {
background-color : whitesmoke;
}
td.crosshead {
background-color : #defade;
}
td.borderless {
font-family : arial, helvetica, verdana, sans-serif;
font-size : 10pt;
}
#ninnbar {
width : 760px;
height : 22px;
margin : 1px 0 2px 0;
}
#ninnbar div {
font-family : Tahoma, Geneva, arial;
text-align : center;
margin : 0 0 0 0;
height : 22px;
float : left;
}
#ninnbar #nnFixed {
width : 757px;
background : none;
}
#ninnbar a:link, #ninnbar a:visited {
display : block;
font-family : Tahoma, Geneva, arial;
font-size : 10px;
color : #ffffff;
text-decoration : none;
font-weight : bold;
line-height : 16px;
height : 17px;
padding : 0 0 0 0;
margin : 3px 1px 0 0;
}
#ninnbar a:hover {
background : #2179af;
}
#ninnbar #nnNews {
display : inline;
width : 77px;
margin : 0 3px 0 77px;
}
#ninnbar #nnFox {
width : 74px;
margin : 0 3px 0 0;
}
#ninnbar #nnClassifieds {
width : 78px;
margin : 0 3px 0 0;
}
#ninnbar #nnNewspapers {
width : 79px;
margin : 0 3px 0 0;
}
#ninnbar #nnSpacer {
background : none;
width : 177px;
}
#ninnbar #nnSearch {
float : left;
width : 212px;
display : inline;
background : none;
margin : 0 0 0 142px;
text-align : right;
}
#ninnbar #nnSearch div {
font-size : 10px;
height : 17px;
background : none;
font-weight : bold;
color : #ffffff;
margin : 4px 3px 0 0;
}
#ninnbar #nnSearch #nnSearchText {
width : 78px;
line-height : 15px;
font-weight : bold;
}
#ninnbar #nnSearch #nnSearchInput {
width : 100px;
margin-right : 0;
}
form.nnsearchForm {
margin : 0;
}
form.nnsearchForm input.searchText {
margin : 0;
width : 90px;
height : 15px;
color : #363535;
font-size : 10px;
font-weight : normal;
line-height : 14px;
background : #ffffff;
border : none;
padding : 0 0 0 5px;
margin : 0 0 0 0;
}
.searchGo {
background : #f1f1f1;
font-size : 11px;
font-weight : bold;
width : 22px;
height : 15px;
color : #eaa001;
border : 1px solid #b9b8b8;
padding : 0 0 0 0;
margin : 0 0 0 0;
cursor : pointer;
letter-spacing : -1px;
line-height : 12px;
}
form.nnsearchForm select.searchDrop {
color : #363535;
width : 108px;
font-size : 9px;
border : 1px solid #b5c1ce;
margin : 5px 0 0 0;
}
.c1_grey11Bold {
color : #7f7f7f;
font-family : Verdana;
text-decoration : none;
font-weight : bold;
font-size : 11px;
}
.c1_formText {
color : #77727b;
font-family : Verdana;
text-decoration : none;
font-weight : normal;
font-size : 11px;
}
.c1_bodyText {
color : #000000;
font-family : Verdana;
text-decoration : none;
font-weight : normal;
font-size : 11px;
}
.TDBOLD {
font-size : 11px;
font-family : Verdana;
font-weight : bold;
}


div#maintab {
margin-left:1em;
margin-top:2em;
}

h3.title {
font-size:200%;
}

div.body p {
	margin-top:1em;
	margin-bottom:1em;
}

div.article {
	margin-bottom:3em;
	margin-top:2em;
}

span.created_date {
	display:none;
}

h2.title {
	margin-bottom: -9px;
}

div.dating {
	font-size: 160%;
	margin-top: 2em;
	margin-bottom: 1em;
}

div.molink {
	display:none;
}

div.frontcolumn1 {
width: 360px;
float: left;
}

div.frontcolumn2 {
width: 180px;
float: left;
margin-left: 2em;
}

div.frontcolumn3 {
	width: 80px;
	float: right;
	margin-right: 60px;
	margin-top: -60px;
}
span.top_title {
font-size:220%;
font-weight:bold;
}

td.rightpanel-news {
font-size:90%;
}

tr td.thinborder {
color: white;
}



h1.year {
font-size:300%;
margin-top:1em;
}

h2.month {
font-size:150%;
margin:0.5em;
}

