<div id='mainbit'></div>

<div class='bars' id='topbar'>
	<div id='topbarinlay'>
	</div>
	<div id='topbarcontent'>
		<div class='butt' id='edithomebutt'>
			&#xf044;
		</div>
		<div id='headingtitle'>
			<a href='/'>da-rw.in</a>
		</div>
		<div class='butt' id='onoffbutt'>
			&#xf011;
		</div>
	</div>
</div>

<div class='bars' id='botbar'>
	<div id='botbarinlay'>
	</div>
	<div id='botbarcontent'>
		virtual <a href='/cards'>cards</a>, free <a href='/pages'>pages</a>, competitive <a href='/services'>services</a>.
		&nbsp; | &nbsp; <i>also available at</i> <a href='http://kather.in/'>kather.in</a> <i>and</i> <a href='http://alicesprin.gs/'>alicesprin.gs</a>
