#modalbg
#modal
	i.icon-remove-sign
	#inform
		span blog this :
		input#url(size='26')
		p.canhide(align='center')
			img#postimg.canhide.hide4now
			.canhide
				span#image.canhide.hide4now
		h1#title.canhide.hide4now
		p#description.canhide.hide4now
		textarea#comment(rows='5',cols='30')
		p.center
			button#submit(type='submit')
				i.icon-ok &nbsp;
				i OK!
		.intaglist
			.taglist
		.intags
			input.intag
			select.intag
				option
