<a name='top'></a>

<div id='footer-back'>

<div id='footer-bg'>



<!-- Main -->

<div id='main'>

<div id='main-top'>



  <div id='navigationed'>

    <ul id='navigation' class='clearfix'>

	  <li><a href='/'>Home</a></li>

    </ul>

  </div>



<!-- Container -->

<div id='container'>

<div id='content-back' class='clearfix'>

<div id='content-bottom'>



<div id='left-col'>



<div class='clearfix'>





		<div id='maintab'>
		</div>



</div>

<!-- /Clearfix -->

		

		

  <!-- Navigation -->

  <div class="pagination">

    <span class="step-links">

        



        <span class="current">

            Page 1 of 1.

        </span>



        

    </span>

  </div>

  <!-- /Navigation -->

 



</div>

<!-- /Left-col -->



<!-- /Right-col -->

<div id='right-col'>



<div id='logo'>

  <!-- Blogtitle -->

	  <h1><a href='mailto:just@justat.at'>just@justat.at</a></h1>

  <!-- /Blogtitle -->

</div>



<div id='right-content'>



  <li><h5>About</h5>

  <ul>

  Yeah, I admit, it's a vanity blog.<br>

  </ul><br>

  I never had one, til <a href='http://hipstrider.com'>hipstrider</a> beat me to it. <br>

  I do a bit of webdev work, and I've found this a useful place to test out new ideas in the wild.

  </li>



<li><h5>My sites</h5>

  For a few years now I have maintained a news archive, at <a href='http://ntne.ws/breaking.php'>ntne.ws</a> : and I have a music site :&nbsp; <a href='http://www.hea.dphon.es'>hea.dphon.es</a>. 

</li>



<li><h5>Contact me</h5>

  I'm contactable on <a href='http://www.facebook.com/justintutty'>facebook</a> (too often) and <a href='http://twitter.com/justinTNT'>twitter</a> (rarely); via SMS (0424-028-741) or email (see above).

  </li>

 

<li><h5>Links</h5>



	<a href='http://no-waste.org'>no-waste.org</a> | 

	<a href='http://coolmob.org'>coolmob.org</a> | 

	<a href='http://aivl.org.au'>aivl.org.au</a> | 

	<a href='http://larrakia.com'>larrakia.com</a>

	</ul>

  </li>

 

<!-- Sidebar -->



  <li><h5>Search</h5>

  <ul>

  <div class='box'>

	<form method='get' id='searchform' action='/search'>

	  <div><input type='text' value='' name='q' id='s' class='text' size='40' />

      <br />

      <br />

      <input type='submit' id='searchsubmit' value='Search' class='btn submit btn-green' />

      </div>

    </form>

  </div>

  </ul>

  </li>



</div>

<!-- /Right-content -->					



<br /><a href='$'><img src='http://eco-logical.info/justat/images/rss.gif' hspace='22' border='0' /></a>

<br /><br /><br />	



</div>

<!-- /Right-col -->



</div>

</div>

<!--  /Content-back -->





<!-- Footer -->	

<div id='footer' class='clearfix'>

	<div>

	  <ul class='footer-pages clearfix'>

	    <li class='first'><a href='/'>Home</a></li>

	  </ul>

	</div>

	<a class='btn btn-footer right' href='#'>Back to Top</a>

</div>

