
rotAte(x,y,z,v)
	transform rotate3d(x, y, z, v)
	-webkit-transform rotate3d(x, y, z, v)

borderRadius(x)
	-webkit-border-radius x
	-moz-border-radius x
	border-radius x

prspctv(x)
	perspective	x
	-moz-perspective	x
	-webkit-perspective	x

boxShad0(x, y, z, c)
	box-shadow x x y z c
	-moz-box-shadow x x y z c
	-webkit-box-shadow x x y z c

boxShad(x, y, z, c)
	box-shadow x y z c
	-moz-box-shadow x y z c
	-webkit-box-shadow x y z c

boxShadow(x, y)
	box-shadow x x x y
	-moz-box-shadow x x x y
	-webkit-box-shadow x x x y

