.bars a {
  text-decoration: none;
  color: #db8;
  font-weight: bold;
}
.bars a:hover {
  text-decoration: none;
  color: #ffd;
  font-weight: bold;
}
.bars .hoverbutt {
  color: #68a;
}
.bars .butt {
  font-family: FontAwesome;
  font-size: 240%;
  width: 1em;
  padding: 0.2em;
  color: #db8;
  position: absolute;
}
.bars #onoffbutt {
  right: 0px;
}
.bars .onbutt {
  color: #8c6;
}
.bars .offbutt {
  color: #c86;
}
.bars #edithomebutt {
  left: 0px;
  margin-left: -3em;
}
.bars #edithomebutt.hoverbutt {
  color: #ffd;
}
#topbar {
  height: 3.2em;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
}
#topbarinlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #888;
  opacity: 0.5;
  filter: Alpha(50);
}
#topbarcontent {
  position: relative;
  width: 100%;
  height: 100%;
}
#botbar {
  height: 2em;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  font-size: 200%;
  overflow: hidden;
}
#botbar >i {
  position: absolute;
  bottom: 0.2em;
}
#botbar >i.faq {
  left: 1em;
}
#botbar >i.support {
  right: 1em;
}
#botbar >i>a {
  font-weight: lighter;
}
#botbar #botbarinlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #444;
  opacity: 0.5;
  filter: Alpha(50);
}
#botbar #botbarcontent {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0.4em;
  text-align: center;
}
