.backdiv
	img(src="http://i0.wp.com/createevoke.com.au/wp-content/uploads/2013/07/Top-end-sunset.jpg" )

.registration
	span.rego
		span.handle
		span @da-rw.in - registration:
	form(action='/dorego')
		.regoitem
			span.label Current address:
			input.email(type='text',name='email')
			i.icon.icon-info-sign
			div.desc
				span This is the existing mailbox where you will receive mails addressed to&nbsp;
				span.handle
				span @da-rw.in
			p.desc da-rw.in redirects mail to an existing mailbox that you already use.  This address will be used to manage your da-rw.in account, so make sure its an address you can also send from. 
		.regoitem
			span.label Password:
			input.password(type='password',name='password')
			i.icon.icon-info-sign
			div.desc
				span This is the new password you'll use to manage settings for&nbsp;
				span.handle
				span.domain @da-rw.in
			p.desc For security reasons, don't use the same password that you use to log in to your existing mailbox. If you ever forget your password, you can request a reset link to be sent to the email address nominated above.
		.errmsg
		.buttons
			input.save(type='submit',value='Save')
			input.cancel(type='button',value='Cancel')
			
