.backdiv
	img(src="#{LOCAL}#{APP}/images/top-end-sunset.jpg" )

.rego
	span.rego register to receive email at:
	.bigrego
		input.handle(placeholder="yourname")
		span.domain @darwin.email
	span.login
		span or&nbsp;
		a(class="login") login
		span &nbsp;to manage your account
	.errmsg
