.backdiv
	img(src="#{LOCAL}#{APP}/images/top-end-sunset.jpg" )

.rego
	.bigrego
		span.handle
		span.domain @darwin.email
	span.login
		span or&nbsp;
		a(class="logout") logout
		span &nbsp;to leave your account
