.backdiv
	img(src="http://i0.wp.com/createevoke.com.au/wp-content/uploads/2013/07/Top-end-sunset.jpg" )

.rego
	.bigrego
		span.handle
		span.domain @darwin.email
	span.login
		span or&nbsp;
		a(class="logout") logout
		span &nbsp;to leave your account
