.rego
	span.rego
		span.handle
		span @
		span.emaildomain
	.confirmation
		p
			span Almost there! one more step ...
		p
			span To complete registration, send an email to register@darwin.email
			br
			span from&nbsp;
			span.email
			span &nbsp;with your confirmation code&nbsp;
			strong.code
			span &nbsp;in the subject.
