.rego
	span.rego register to receive email at:
	.bigrego
		input.handle(placeholder="yourname")
		span.domain @
		span.domain.emaildomain
	span.login
		span or&nbsp;
		a(class="login") login
		span &nbsp;to manage your account
	.errmsg
