
/* auth */

div#loginpage {
	top: 50%;
	left: 50%;
	width: 560px;
	height: 240px;
	position: fixed;
	z-index: 23;
	margin-top: -120px;
	margin-left: -280px;
	padding:8px;
	font-size:240%;
}

div#loginbackdrop {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ABC;
	position: fixed;
	z-index: 23;
	opacity: 0.5;
}
div#loginbackdrop input {
	margin:8px;
}

div#loginbox {
	background-color: #ABC;
	padding:13px;
	margin-top:-13px;

background-image: linear-gradient(right bottom, rgb(202,203,204) 28%, rgb(175,191,207) 88%, rgb(170,187,204) 76%);
background-image: -o-linear-gradient(right bottom, rgb(202,203,204) 28%, rgb(175,191,207) 88%, rgb(170,187,204) 76%);
background-image: -moz-linear-gradient(right bottom, rgb(202,203,204) 28%, rgb(175,191,207) 88%, rgb(170,187,204) 76%);
background-image: -webkit-linear-gradient(right bottom, rgb(202,203,204) 28%, rgb(175,191,207) 88%, rgb(170,187,204) 76%);
background-image: -ms-linear-gradient(right bottom, rgb(202,203,204) 28%, rgb(175,191,207) 88%, rgb(170,187,204) 76%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	53 23,
	color-stop(0.28, rgb(202,203,204)),
	color-stop(0.88, rgb(175,191,207)),
	color-stop(0.76, rgb(170,187,204))
);

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

-webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    5px 5px 7px rgba(50, 50, 50, 0.75);
box-shadow:         5px 5px 7px rgba(50, 50, 50, 0.75);
}

div #loginbox input {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div#loginbox i {
	float:right;
	margin:1em;
}

div#loginbox input[type='password'] {
	margin:13px;
}
div#loginbox input[type='text'] {
	margin:13px;
	margin-left:53px;
}
div#loginbox input[type='submit'] {
	margin:13px;
	margin-left:53px;
}
div#loginbox input[type='button'] {
	margin:13px;
	margin-right:53px;
	float:right;
}
div#loginbox {
	float:right;
}

