	<div id='toplogo'>
		<p align='center'>
			<i class="icon-circle-arrow-left icon-4x" style="float:left"></i>
			<a href='/front'>
				<i class='icon-home icon-4x'></i>
			</a>
			<i class="icon-circle-arrow-right icon-4x" style="float:right"></i>
		</p>
	</div>

	<div class='cloud cloud1'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>
	<div class='cloud cloud2'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>
	<div class='cloud cloud3'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>
	<div class='cloud clouds2 cloud4'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>
	<div class='cloud clouds2 cloud5'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>
	<div class='cloud clouds2 cloud6'>
		<img src='/browser/images/cloud.gif' width='100%'>
	</div>

	<div id='lucasbottom'>
		<img src='/browser/images/lucasbottom.jpg' width='100%' />
	</div>

	<div id='nightfall'>
	</div>

	<div id='maintabbox'>
		<div id='innermaintabbox'>
			<div id='maintab'>
				<div class='eachpage'>
					<p align='center'>
						<a class='url' href='/3'>
							<img src='/browser/images/comic/1.jpg' class='image'/>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

