#main
	.backdiv
		img(src="#{LOCAL}#{APP}/images/springsflowers.jpg" )
	#maindiv

div#topbar.bars
	div#topbarinlay
	div#topbarcontent
		div#edithomebutt.butt &#xf044;
		div#onoffbutt.butt &#xf011;

div#botbar.bars
	div#botbarinlay
	div#botbarcontent
		i powered by 
		a(href='http://territory.today/') territory.today
	i.support
		a(href='mailto:contact@alicesprings.email') support
	i.faq
		a(href='http://alicesprin.gs/faq') FAQ
