#main
	.backdiv
		img(src="#{LOCAL}#{APP}/images/top-end-sunset.jpg" )
	#maindiv

div#topbar.bars
	div#topbarinlay
	div#topbarcontent
		div#edithomebutt.butt &#xf044;
		div#onoffbutt.butt &#xf011;

div#botbar.bars
	div#botbarinlay
	div#botbarcontent
		i powered by 
		a(href='http://territory.today/') territory.today
	i.support
		a(href='mailto:contact@darwin.email') support
	i.faq
		a(href='http://da-rw.in/faq') FAQ
