#main
	font-size	200%
	height: 100%
	width: 100%
	position: absolute
	left: 0
	top: 0
	BACKGROUND-COLOR: #bbb

	.backdiv
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		height: 100%
		opacity: 0.2
		overflow: hidden
		img
			width	100%

	div.rego
		margin: 2em
		margin-top: -4em
		height: 3em
		.errmsg
			margin-top	0.5em
	div.registration
		margin: 2em
		margin-top: -7em
		height: 10em
		.errmsg
			margin-top	-0.5em
		.buttons
			position	absolute
			bottom	1em
			width: 50%
			margin-left: 25%
			input
				border-radius	0.5em
			input.save
				float	left
				color	darkblue
			input.cancel
				float	right
				color	darkred
		div.regoitem
			height	4em
			span.label
				display	inline-block
				width	9em
				text-align	right
			input
				border-radius	0.5em
				padding-left	0.5em
				margin-left	0.5em
			i.icon-info-sign
				display	none
				color	blue
				margin-left	0.4em
			.desc
				display	none
				margin-right 5em
				font-style	italic
				margin-top	10px
			div.desc
				font-size	75%
				margin-left 6em
				color	grey
			p.desc
				font-size	50%
				margin-left 9em
				color	black

	div.rego, div.registration
		width: 80%
		background-color: #dfd
		border-radius: 15px
		padding: 2em
		top: 50%
		position: relative
		-webkit-box-shadow: 0 0 2em #efe
		-moz-box-shadow: 0 0 3em #efe
		box-shadow: 0 0 2em #efe

		span.rego
			position: absolute
			top: -1em
			left: 2em
			font-weight	bold
			color	grey

		.confirmation
			font-size	90%

		.bigrego
			font-size: 200%
			text-align: center

			input.handle
				border-radius: 1em
				font-size: 1em
				width: 8em
				padding-right: 0.5em
				text-align: right
				width: 6em
			span.domain
				color: black

		span.login
			position: absolute
			right: 2em
			bottom: -1em
		.errmsg
			color	red
			font-style	italic
			text-align	center

		input.error
			background-color	#fed
		input.error
			background-color	#fed

#loginpage
	#loginbox
	form
		.buttons
			width: 70%
			margin-left: 15%
