@font-face {
  font-family: 'League';
  src: url('{{LOCAL}}fonts/LeagueGothic.eot');
  src: local('League'), url('{{LOCAL}}fonts/LeagueGothic.otf') format('opentype');
  url('{{LOCAL}}fonts/LeagueGothic.woff') format('woff');
  url('{{LOCAL}}fonts/LeagueGothic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Kabel';
  src: url('{{LOCAL}}fonts/ITCKabelStd-Book.eot');
  src: local('jtntKabel'), url('{{LOCAL}}fonts/ITCKabelStd-Book.otf') format('opentype');
  url('{{LOCAL}}fonts/ITCKabelStd-Book.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}


/*  
    I Like 'Font Awesome - http://fortawesome.github.com/Font-Awesome' 
*/

@font-face {
  font-family: "FontAwesome";
  src: url('{{LOCAL}}fonts/fontawesome-webfont.eot');
  src: url('{{LOCAL}}fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
	url('{{LOCAL}}fonts/fontawesome-webfont.woff') format('woff');
	url('{{LOCAL}}fonts/fontawesome-webfont.ttf') format('truetype');
	url('{{LOCAL}}fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}


