.story
	.story-date
		a.link
			span.month.block
			span.day
	a.url
		.titles
			.title.fbmeta
	img.fbmeta.image
	p.fbmeta.description.teaser
	p.comment
	.taglist
		a.tags

.comments
	a.comments
		span.commentcnt Comments ...
