<div class='card'>
	<p class='title'></p> 
	<p class='longtitle'></p> 
	<div class='marginal'>
		<p class='description'></p> 
	</div>
	<div class='marginal'>
		<p class='postal address'></p> 
		<p class='street address'></p> 
	</div>
	<p class='emailholder'>
		<a class='email'></a> 
	</p>
	<div class='cardsection' id='phones'>
		<div class='phone'></div> 
		<div class='mobile'></div> 
		<div class='fax'></div> 
	</div>
	<div class='cardsection' id='links'>
		 <a class='goog'></a> <a class='fb'></a> <a class='twit'></a> <br> 
		<a class='link'></a>
	</div>
	<p class='tag'></p>
</div>
