div#mainbit

div#topbar.bars
	div#topbarinlay
	div#topbarcontent
		div#edithomebutt.butt &#xf044;
		div#headingtitle
			a(href='/') da-rw.in
		div#onoffbutt.butt &#xf011;

div#botbar.bars
	div#botbarinlay
	div#botbarcontent
		span virtual 
		a(href='/cards') cards
		span , free 
		a(href='/pages') pages
		span , competitive 
		a(href='/services') services
		span &nbsp; | &nbsp;
		i powered by 
		a(href='http://alicesprings.email/') alicesprings.email
	i.faq
		a(href='/faq') FAQ
	i.support
		a(href='mailto:contact@da-rw.in') support
