.solarizedfg_base03    { color:#002b36; }
.solarizedfg_base02    { color:#073642; }
.solarizedfg_base01    { color:#586e75; }
.solarizedfg_base00    { color:#657b83; }
.solarizedfg_base0     { color:#839496; }
.solarizedfg_base1     { color:#93a1a1; }
.solarizedfg_base2     { color:#eee8d5; }
.solarizedfg_base3     { color:#fdf6e3; }
.solarizedfg_yellow    { color:#b58900; }
.solarizedfg_orange    { color:#cb4b16; }
.solarizedfg_red       { color:#dc322f; }
.solarizedfg_magenta   { color:#d33682; }
.solarizedfg_violet    { color:#6c71c4; }
.solarizedfg_blue      { color:#268bd2; }
.solarizedfg_cyan      { color:#2aa198; }
.solarizedfg_green     { color:#859900; }

.solarizedbg_base03    { background-color:#002b36; }
.solarizedbg_base02    { background-color:#073642; }
.solarizedbg_base01    { background-color:#586e75; }
.solarizedbg_base00    { background-color:#657b83; }
.solarizedbg_base0     { background-color:#839496; }
.solarizedbg_base1     { background-color:#93a1a1; }
.solarizedbg_base2     { background-color:#eee8d5; }
.solarizedbg_base3     { background-color:#fdf6e3; }
.solarizedbg_yellow    { background-color:#b58900; }
.solarizedbg_orange    { background-color:#cb4b16; }
.solarizedbg_red       { background-color:#dc322f; }
.solarizedbg_magenta   { background-color:#d33682; }
.solarizedbg_violet    { background-color:#6c71c4; }
.solarizedbg_blue      { background-color:#268bd2; }
.solarizedbg_cyan      { background-color:#2aa198; }
.solarizedbg_green     { background-color:#859900; }


body     { background-color:#fdf6e3; }

div#header {
	width:100%;
	top:0px;
	left:0px;
	height:80px;
	font-size:70px;
	letter-spacing:-11px;
	font-weight:900;
	font-family:Georgia,Arial,Verdana;
	font-style:italic;
}

div.listallschemes {
	font-size:32px;
	padding-top:2em;
	padding-left:4em;
}

div.eachtable {
	padding-top:0.5em;
	padding-left:2em;
}

div.admin_table_fields {
	margin-left:20px;
}

div.admin_table_field {
	float:left;
	border:1px solid #FDF6E3;
	color:#000;
	height:1.8em;
	font-size:150%;
	padding-top:0.4em;
	overflow:hidden;
}

div.already_edited {
	color:#268bd2;
}
div.hovering {
	color:#586e75;
}
div.already_deleted {
	color:#dc322f;
	opacity:0.2;
}


div.admin_table_record {
	clear:both;
	float:left;
	width:100%;
	margin-left:20px;
}

div.admin_table_record_field {
	float:left;
	border:1px solid #eee8d5;
	height:1.4em;
	overflow:hidden;
	background-color:#fdf6e3;
}

div.name {
	float:left;
	padding-left:1em;
}

div#addmore {
	margin:1em;
	height: 10px;
	width: 333px;
	clear: both;
}

div#addmore button {
	margin:2em;
}


div#modalmask {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:2;
}

div.greyout {
	opacity:0.5;
	background-color:#888;
}

div#context-menu {
	background-color: #EEE8D5;
	position: absolute;
	padding: 2px;
	display: block;
	margin-top: -1em;
	display:none;
	z-index:13;
}

div.context-field {
	border: 1px solid #FDF6E3;
	padding: 3px;
	margin-top: 2px;
}

div.contextmenubreak {
	height:1px;
	width:90%;
	margin-top:2px;
	margin-left:5%;
	background-color:#bbb;
}

div#refreshbutt {
    background-image:url('/browser/images/refreshbutt.gif');
    position:absolute;
    left:50%;
    top:5px;
    height:23px;
    width:23px;
    display:none;
}

div#plus-menu {
	background-color: #EEE8D5;
	position: absolute;
	padding: 2px;
	display: block;
	margin-top: -1em;
	display:none;
	z-index:13;
}

div.plus-field {
	border: 1px solid #FDF6E3;
	padding: 3px;
	margin-top: 2px;
}

div.plusbutt {
	background-image: url('/browser/images/add-icon.png');
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 16px;
	margin: 10px;
	display:none;
}

.button-close {
	background-image: url('/browser/images/close-icon.png');
	top: 0;
	right: 3px;
	height: 10px;
	width: 10px;
	background-repeat: no-repeat;
	position: absolute;
	opacity:0;
}

.button-desc {
	background-image: url('/browser/images/desc-icon.png');
	top: 1px;
	right: 17px;
	height: 10px;
	width: 10px;
	background-repeat: no-repeat;
	position: absolute;
	visibility:hidden;
}

.button-asc {
	background-image: url('/browser/images/asc-icon.png');
	top: 1px;
	right: 17px;
	height: 10px;
	width: 10px;
	background-repeat: no-repeat;
	position: absolute;
	visibility:hidden;
}

div#maintab {
	position:absolute;
	left:0px;
	top:99px;
	z-index:3;
	padding-left:1em;
	width:4444px;
}

div#detailtab {
	display:none;
	position:absolute;
	left:0px;
	top:1234px;
	z-index:2;
	padding-left:1em;
	width:4444px;
}


div#maintab form {
	margin:2em;
	font-size:300%;
}

div#maintab form input {
	margin:0.2em;
}

div#mainmenu {
	position:absolute;
	top:0px;
	right:33px;
	width:333px;
	letter-spacing:0px;
	font-size:23px;

}

div#saveconfig {
	width:32px;
	height:32px;
	display:none;
	float:right;
	background-image:url('/browser/images/save-icon.png');
}


button#add {
	color:#859900;
}

button#less {
	color:#dc322f;
	display:none;
	float:left;
}

input.deleteme {
	opacity:0;
	float:left;
	margin-left:-20px;
}

div.already_deleted input.deleteme {
	display:none;
}

/*
 * style definitions for instance page
 */

div.instancelabels {
	float:left;
	font-size:300%;
	border-right: 1px solid #EEE8D5;
	padding-right: 8px;
}

div.instancelabelholder {
	width:100%;
	height:1em;
	margin-top:5px;
	margin-bottom:5px;
	clear:both;
	position:relative;
}

div.instancelabel {
	float:right;
}

div.instanceinputs {
	float:left;
}

div.instanceinput {
	margin-left:1em;
	margin-top:5px;
	margin-bottom:5px;
	font-size:150%;
}

div.ghostedinput {
	border-top:2px dotted #EEE8D5;
	border-right:2px dotted #EEE8D5;
}

button#save {
	color:#859900;
	float:left;
	margin:2em;
}

button#cancel {
	color:#dc322f;
	float:left;
	margin:2em;
}


div.uploadfields {
	margin-top:20px;
}

div.uploadfields input {
	margin-top:-9px;
}

div.uploadfields input[type=text] {
	width:13em;
}

div.uploadfields input[type=button] {
	width:4em;
	margin-left:6px;
}

div.modal_file_list {
	position: absolute;
	height: 80%;
	width: 800px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -300px;
	z-index: 9;
	box-shadow: rgba(0,0,0,1.8) 0px 0px 53px;
	border-radius: 6px;
	background-color:#fff;
}

p.title_file_list {
	margin-top: 9px;
	margin-bottom: 23px;
	font-size: 200%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align:center;
}
div.title_file_list p {
	text-align:center;
}


div.file_list_list {
	margin-left: 4em;
	margin-right: 6em;
	overflow-y: scroll;
	bottom: 0px;
	position: relative;
	height: 70%;
	width: 90%;
	margin-bottom: 0em;
	padding-top:13px;
	border-top: 1px solid #EEE8D5;
}

div.file_list_file {
	height:18px;
	padding:2px;
}

div.filelist_name {
	font-size: 14px;
	width:45%;
	float:left;
	margin-left:2em;
}
div.filelist_size {
	font-size: 14px;
	float:left;
	text-align:right;
	width:20%;
	padding-right:2em;
}
div.file_list_file div.filelist_size {
	border-left: 1px solid #fdf6e3;
	border-right: 1px solid #fdf6e3;
}
div.filelist_date {
	font-size: 14px;
	text-align:right;
	float:right;
	margin-right:1em;
}

div.title_file_list div.filelist_name, div.title_file_list div.filelist_size, div.title_file_list div.filelist_date {
	color: #586e75;
}


div#file_list_close {
	margin-top:3px;
}

