
.bars
	a
		text-decoration	none
		color	#986
		font-weight	bold
	a:hover
		text-decoration	none
		color	#68a
		font-weight	bold

	.hoverbutt
		color	#68a

#topbar
	height	3em
	width	100%
	top	0px
	left	0px
	position	absolute
	overflow	hidden

	#topbarinlay
		position	absolute
		width	100%
		height	100%
		top	0px
		left	0px
		background-color	#444
		opacity	0.5
		filter	Alpha(Opacity=50)

	#topbarcontent
		position	relative
		width	100%
		height	100%

#botbar
	height	2em
	width	100%
	bottom	0px
	left	0px
	position	absolute
	font-size	66%
	overflow	hidden

	#botbarinlay
		position	absolute
		width	100%
		height	100%
		bottom	0px
		left	0px
		background-color	#444
		opacity	0.5
		filter	Alpha(Opacity=50)

	#botbarcontent
		position	relative
		width	100%
		height	100%
		margin-top	0.4em
		text-align	center

	>i
		position	absolute
		bottom	0.2em
	>i.support
		right	1em
	>i.faq
		left	1em

