#header.solarizedbg_base2.solarizedfg_base1
	span.solarizedfg_red j
	span.solarizedfg_orange u
	span.solarizedfg_yellow s
	span.solarizedfg_green t
	span.solarizedfg_cyan s
	span.solarizedfg_blue a
	span.solarizedfg_violet y
	#mainmenu
		a#table-name(href='/list')
		br
		button#loginlogout LOGIN
		i#saveconfig.icon-save
	#headalert
div(style='clear:both')
#maintab.solarizedbg_base3.solarizedfg_base1.current
#detailtab.solarizedbg_base3.solarizedfg_base1.current
#plus-menu
#context-menu
i#refreshbutt.icon-refresh
