<div id='header' class='solarizedbg_base2 solarizedfg_base1'>
<span class='solarizedfg_red'>j</span>
<span class='solarizedfg_orange'>u</span>
<span class='solarizedfg_yellow'>s</span>
<span class='solarizedfg_green'>t</span>
<span class='solarizedfg_cyan'>s</span>
<span class='solarizedfg_blue'>a</span>
<span class='solarizedfg_violet'>y</span>

	<div id='mainmenu'>
		<a href='/list' id='table-name'></a><br>
		<button id='loginlogout'>LOGIN</button>
		<div id='saveconfig'></div>
	</div>

	<div id='headlert'>
	</div>
</div>

<div style='clear:both'>
</div>

<div class='solarizedbg_base3 solarizedfg_base1 current' id='maintab'>
</div>

<div class='solarizedbg_base3 solarizedfg_base1' id='detailtab'>
</div>

<div id='plus-menu'>
</div>
<div id='context-menu'>
</div>
<div id='refreshbutt'>
</div>


