<div id='modalbg'>
</div>
<div id='modal'>
	<div id='closebutt'>&#xf05c;
	</div>
	<div id='inform'>
		blog this : <input id='url' size='26' />
		<p class='canhide' align='center'>
			<img id='postimg' class='canhide hide4now'/>
			<div class-'canhide'>
				<span id='image' class='canhide hide4now'></span>
			</div>
		</p>
		<h1 id='title' class='canhide hide4now'></h1>
		<p id='description' class='canhide hide4now'></p>
		<textarea id='comment' rows='5' cols='30'></textarea>
		<p align='center'>
			<button id='submit' type='submit'>
				<span class='tick'>&#xf00c;</span> &nbsp; <i>OK!</i>
			</button>
		</p>
	</div>
</div>
