#modalbg
#modal
	i.icon-remove-sign
	#inform
		span blog this :
		input#name(size='26')
		h1#title
		p#description.canhide.hide4now
		textarea#comment(rows='5',cols='30')
		p.center
			button#submit(type='submit')
				i.icon-ok &nbsp;
				i OK!
		.intaglist
			.taglist
		.intags
			input.intag
			select.intag
				option
