.base03fg    { color:#002b36; }
.base02fg    { color:#073642; }
.base01fg    { color:#586e75; }
.base00fg    { color:#657b83; }
.base0fg     { color:#839496; }
.base1fg     { color:#93a1a1; }
.base2fg     { color:#eee8d5; }
.base3fg     { color:#fdf6e3; }
.yellowfg    { color:#b58900; }
.orangefg    { color:#cb4b16; }
.redfg       { color:#dc322f; }
.magentafg   { color:#d33682; }
.violetfg    { color:#6c71c4; }
.bluefg      { color:#268bd2; }
.cyanfg      { color:#2aa198; }
.greenfg     { color:#859900; }

.base03bg    { background-color:#002b36; }
.base02bg    { background-color:#073642; }
.base01bg    { background-color:#586e75; }
.base00bg    { background-color:#657b83; }
.base0bg     { background-color:#839496; }
.base1bg     { background-color:#93a1a1; }
.base2bg     { background-color:#eee8d5; }
.base3bg     { background-color:#fdf6e3; }
.yellowbg    { background-color:#b58900; }
.orangebg    { background-color:#cb4b16; }
.redbg       { background-color:#dc322f; }
.magentabg   { background-color:#d33682; }
.violetbg    { background-color:#6c71c4; }
.bluebg      { background-color:#268bd2; }
.cyanbg      { background-color:#2aa198; }
.greenbg     { background-color:#859900; }

