@import 'mtmuse.fonts'
@import '../../../common/stylus/tools'
@import '../../../common/wblg/browser/wblg'

body
	background-color	#fff
	font-family: 'Kabel'
	#toplogo
		p
			position: absolute
			margin-left: -333%
			font-size: 80px
			font-weight: bolder

	#innermaintabbox
		margin-top	160px

		#maintab
			.eachstory
				background-color	#fffefd

