@font-face {
  font-family: 'League';
  src: url('{{LOCAL}}fonts/LeagueGothic.eot');
  src: local('League'), url('{{LOCAL}}fonts/LeagueGothic.otf') format('opentype');
  url('{{LOCAL}}fonts/LeagueGothic.woff') format('woff');
  url('{{LOCAL}}fonts/LeagueGothic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Kabel';
  src: url('{{LOCAL}}fonts/ITCKabelStd-Book.eot');
  src: local('jtntKabel'), url('{{LOCAL}}fonts/ITCKabelStd-Book.otf') format('opentype');
  url('{{LOCAL}}fonts/ITCKabelStd-Book.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

