
	<div id='toplogo'>
		<p align='center'>
			<img id='lnaclogo' src='{{STATIC}}{{APP}}/images/layout/lnaclogo.gif' />
		</p>
	</div>
	<div class='swxmodemenu' id='menu-lnac'>
	</div>

		<div id='maintabbox'>
		<div id='innermaintabbox'>
			<div id='botbaktail'>
			<img id='tailback' src='{{STATIC}}{{APP}}/images/layout/tail.gif' width=100% />
			</div>
			<div id='maintab'>
			</div>
		</div>
		</div>

<div id='botbakdiv'>
	<img id='botbak' src='{{STATIC}}{{APP}}/images/layout/newgrushabotbg.jpg' width=100% />
</div>

<div id='topbakdiv'>
	<img id='topbak' src='{{STATIC}}{{APP}}/images/layout/grushabg.jpg' width=100% />
</div>
